/* 
Name: Thotagamuwa Widanage Inuka Pasandul Perera
ID: 20221267, w1954040
Group: O-2
Role: Student 3
 */



/* external css file used by some of the webpages to easily keep colours and fonts consistent. */
:root{
    --color1: #15295e;
    --color2: #ffcc00;
    --color3: #0a50a1;
    font-family: 'Roboto Condensed', sans-serif;
}
